@charset "utf-8";
/* CSS Document */
p {
	color: #A65B3F; 
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color: #E2CBCC;
	padding: 20px
}
.paragraf_2 {color:#ECDBDC; background-color: rgba(98,44,45,0.5)}
.novi_blok {
	background-color: rgba(98,44,45,0.5);
	padding: 20px;
	margin: 20px;
	width:50%;
}
h1 {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: #552424
}
h2 {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: #DBBABB
}
.pozadina {
	background-image:url("slike/vanilija.jpg");
}
.drugapozadina {
	background-image: url("slike/pozadina albumi.jpg");
}

a:link {
	color: #633636;
	background-color: #FFFFFF;
	line-height: 40px;
	border:1px solid #6B3233;
}
a:hover {
	background-color: #835556;
}
img {
	height: 400px;
}